pipeline/mysqlincrimentcopy.json
{
	"name": "mysqlincrimentcopy",
	"properties": {
		"activities": [
			{
				"name": "mysqlincrimentcopypipeline",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "current_max_watermark_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT * FROM inventory_master\nWHERE last_updated > '@{activity('last_watermark_value').output.firstRow.WatermarkValue}'\n  AND last_updated <='@{activity('current_max_watermark_value').output.firstRow.NewWatermarkValue}';\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzurePostgreSqlSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "item_id",
									"type": "Int32",
									"physicalType": "Int32"
								},
								"sink": {
									"name": "item_id",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "product_name",
									"type": "String",
									"physicalType": "VarChar"
								},
								"sink": {
									"name": "product_name",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "category",
									"type": "String",
									"physicalType": "VarChar"
								},
								"sink": {
									"name": "category",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "quantity",
									"type": "Int32",
									"physicalType": "Int32"
								},
								"sink": {
									"name": "quantity",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "price",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "price",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "last_updated",
									"type": "DateTime",
									"physicalType": "DateTime"
								},
								"sink": {
									"name": "last_updated",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsmysqlsourceinventorymaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dsprogressqlinventorymaster",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "current_max_watermark_value",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "last_watermark_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT MAX(last_updated) AS NewWatermarkValue FROM inventory_master;"
					},
					"dataset": {
						"referenceName": "dsmysqlwatermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "last_watermark_value",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT watermarkvalue FROM watermarktable WHERE TableName = 'inventory_master';"
					},
					"dataset": {
						"referenceName": "dsmysqlwatermarktable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}