pipeline/TablesCopyPipeLine.json
{
	"name": "TablesCopyPipeLine",
	"properties": {
		"activities": [
			{
				"name": "LookupTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nSELECT *\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_NAME in ( 'Customer','Product')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASql_datasetsource",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "activity('LookupTables').output.value",
								"type": "Expression"
							},
							"db": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Foreachtable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ASql_datasourcetooutput",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsblobfortables",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().table_name,'.','csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string"
			}
		},
		"annotations": []
	}
}